$BodyLayout-body-spacing: $Theme-spacing-base
$BodyLayout-color-title: Theme-color(text, title-page)
$BodyLayout-fontSize-title: Theme-fontSize(title, large, font-size)
$BodyLayout-fontWeight-title: Theme-fontWeight(bold)
$BodyLayout-spacing-title: 4 * $BodyLayout-body-spacing

.BodyLayout-header
  margin: $BodyLayout-spacing-title 0
  text-align: center

.BodyLayout-content
