$Button-color-background-super: Theme-color(button, primary)
$Button-color-background-awesome: Theme-color(button, create)
$Button-color-background-best: Theme-color(button, secondary)
$Button-color-text: Theme-color(button, text)
$Button-fontSize: Theme-fontSize(text, base)
$Button-fontWeight: Theme-fontWeight(regular)
$Button-height: 40px
$Button-spacing: $Theme-spacing-base
$Button-width: 200px

.Button
  background-color: $Button-color-background-super
  border-radius: 2px
  color: $Button-color-text
  display: inline-block
  font-size: $Button-fontSize
  font-weight: $Button-fontWeight
  height: $Button-height
  line-height: $Button-height
  text-align: center
  text-transform: uppercase
  width: $Button-width
  &:hover
    background-color: darken($Button-color-background-super, 10%)

.Button.Button--awesome
  background-color: $Button-color-background-awesome
  &:hover
    background-color: darken($Button-color-background-awesome, 10%)

.Button.Button--best
  background-color: $Button-color-background-best
  &:hover
    background-color: darken($Button-color-background-best, 10%)
