$Footer-text-color: Theme-color(text, footer)
$Footer-height: 77px
$Footer-background-color: Theme-color(background, footer)

.Footer
  background-color: $Footer-background-color
  height: $Footer-height

.Footer-link
  color: $Footer-text-color
  line-height: $Footer-height
  text-decoration: none
