$Form-color-filled: Theme-color(input, filled)
$Form-color-label: Theme-color(text, label)
$Form-input-border: 2px
$Form-spacing-small: $Theme-spacing-small

.Form
  display: inline-block
  text-align: left

.Form-label
  color: $Form-color-label
  padding-top: $Form-spacing-small

.Form-input
  color: $Form-color-filled
  padding-top: $Form-spacing-small
