$Form-spacing-small: $Theme-spacing-small
$Form-spacing-base: $Theme-spacing-base

.Form

.Form-item
  padding: $Form-spacing-small

.Form-field
  padding: 10px

.Form-label
  padding-right: $Form-spacing-base
