$Grid-margin-base: $Theme-spacing-base

.Grid
  margin-bottom: $Grid-margin-base
  margin-left: -$Grid-margin-base
  margin-top: $Grid-margin-base
  text-align: center

.Grid-item
  display: inline-block
  margin-left: $Grid-margin-base
  margin-top: $Grid-margin-base
