$Header-backgroundColor: $Theme-white
$Header-height-header: 100px
$Header-spacing-base: $Theme-spacing-base

.Header
  background-color: $Header-backgroundColor
  height: $Header-height-header
  text-align: center

.Header-logo
  padding-top: $Header-spacing-base
