$Header-color-background: Theme-color(background, menu-bar)
$Header-height-header: 70px
$Header-spacing-base: $Theme-spacing-base
$Header-logo-width: 200px

.Header
  background-color: $Header-color-background
  height: $Header-height-header
  text-align: center

.Header-logo
  padding-top: $Header-spacing-base
