$Logo-color: Theme-color(text, menu-bar)
$Logo-fontSize: Theme-fontSize(title, large, font-size)
$Logo-fontWeight: Theme-fontWeight(bold)

.Logo
  font-size: $Logo-fontSize
  font-weight: $Logo-fontWeight

.Logo-link
  color: $Logo-color
  text-decoration: none
