.MainLayout
  display: flex
  flex-direction: column
  height: 100%

.MainLayout-header
  flex-shrink: 0

.MainLayout-body
  flex: 1 0 auto

.MainLayout-footer
  flex-shrink: 0

.MainLayout-notification
