$Navbar-color-text: Theme-color(text, menu-bar)
$Navbar-spacing-base: $Theme-spacing-base
$Navbar-fontSize-nav: Theme-fontSize(text, large, font-size)

.Navbar
  font-size: $Navbar-fontSize-nav

.Navbar-item
  display: inline-block
  list-style: none
  padding: 0 $Navbar-spacing-base

.Navbar-link
  color: $Navbar-color-text
  text-decoration: none
