$Theme-fontSize-base: 18px;
$Theme-fontSize-large: 1.222rem;

$Theme-spacing-base: 18px;
$Theme-spacing-small: 9px;

$Theme-fontSizes: (
  base: ( font-size: $Theme-fontSize-base, line-height: 1.618 ),
  large: ( font-size: $Theme-fontSize-large, line-height: 1.5 )
);

@function Theme-fontSize($size, $property: 'font-size'){
  @return map-get(map-get($Theme-fontSizes, $size), $property);
}

$Theme-blue: #2E86AB;
$Theme-greenSuccess: #566612;
$Theme-orange: #FF623F;
$Theme-white: #FFF;
$Theme-gray: #EEE;
$Theme-lightGreenSuccess: #E6F0C0;
$Theme-lightRedError: #FCE3E4;
$Theme-redDanger: #BF283A;
$Theme-redError: #981215;

$Theme-color: (
  background: (
    default: $Theme-white,
    error: $Theme-lightRedError,
    success: $Theme-lightGreenSuccess,
    shadow: $Theme-gray
  ),
  text: (
    default: $Theme-blue,
    title: $Theme-white,
    error: $Theme-redError,
    success: $Theme-greenSuccess
  ),
  button:(
    default: $Theme-blue,
    destroy: $Theme-redDanger
  )
);

@function Theme-color($color, $property){
  @return map-get(map-get($Theme-color, $color), $property);
}

*,
*::after,
*::before{
  box-sizing: border-box;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

html{
  font-family: sans-serif;
  font-size: Theme-fontSize(base);
  height: 100%;
  line-height: Theme-fontSize(base, line-height);
  text-rendering: optimizeLegibility;
}
