$Theme-fontSize-text-base: 16px;

$Theme-spacing-base: 20px;
$Theme-spacing-small: 9px;

$Theme-fontWeight-bold: 700;
$Theme-fontWeight-regular: 400;

$Theme-fontSizes: (
  text: (
    base:   (font-size: $Theme-fontSize-text-base, line-height: 1.618),
    small:  (font-size: 0.875rem, line-height: 1.618),
    large:  (font-size: 1.25rem, line-height: 1.618)
  ),
  title: (
    small:  (font-size: 1.5rem, line-height: 1.618),
    medium: (font-size: 1.75rem, line-height: 1.618),
    large:  (font-size: 2.25rem, line-height: 1.618)
  )
);

$Theme-weights:(
  regular: 400,
  bold: 700
);

@function Theme-fontSize($type, $size, $property: 'font-size'){
  @return map-get(map-get(map-get($Theme-fontSizes, $type), $size), $property);
}

@function Theme-fontWeight($name){
  @return map-get($Theme-weights, $name);
}

$Theme-beige: #F1EAD9;
$Theme-black: #000;
$Theme-blue: #2A99C8;
$Theme-darkYellow: #E4B855;
$Theme-gray: #B4B4B4;
$Theme-lightGray: #D8D1C2;
$Theme-pink: #E78A91;
$Theme-red: #F56B75;
$Theme-white: #FFF;
$Theme-yellow: #F6C75C;

$Theme-greenSuccess: #566612;
$Theme-lightGreenSuccess: #E6F0C0;
$Theme-lightRedError: #FCE3E4;
$Theme-redDanger: #BF283A;
$Theme-redError: #981215;

$Theme-color: (
  background: (
    error: $Theme-lightRedError,
    event-card: $Theme-beige,
    menu-bar: $Theme-blue,
    success: $Theme-lightGreenSuccess
  ),
  button:(
    create: $Theme-red,
    delete: $Theme-red,
    menu-active: $Theme-white,
    primary: $Theme-yellow,
    secondary: $Theme-darkYellow,
    text: $Theme-white
  ),
  input: (
    border: $Theme-beige,
    dropdown-active: $Theme-lightGray,
    dropdown-background: $Theme-white,
    dropdown-icon: $Theme-white,
    filled: $Theme-black,
    placeholder: $Theme-gray
  ),
  line: (
    separator-content: $Theme-blue,
    separator-event-content: $Theme-white,
    separator-menu-bar-content: $Theme-white
  ),
  text: (
    error: $Theme-redError,
    event-primary-info: $Theme-red,
    event-secondary-info: $Theme-pink,
    label: $Theme-pink,
    main-info: $Theme-black,
    menu-bar: $Theme-beige,
    menu-button-active: $Theme-black,
    success: $Theme-greenSuccess,
    title-content-separator: $Theme-blue,
    title-event: $Theme-black,
    title-page: $Theme-red
  )
);

@function Theme-color($color, $property){
  @return map-get(map-get($Theme-color, $color), $property);
}

*,
*::after,
*::before{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

html{
  font-family: "azo-sans-web",sans-serif;
  font-size: $Theme-fontSize-text-base;
  height: 100%;
  text-rendering: optimizeLegibility;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
