$Theme-fontSize-base: 18px;
$Theme-fontSize-large: 1.222rem;

$Theme-spacing-base: 18px;
$Theme-spacing-small: 9px;

$Theme-fontSizes: (
  base: ( font-size: $Theme-fontSize-base, line-height: 1.618 ),
  large: ( font-size: $Theme-fontSize-large, line-height: 1.5 )
);

@function Theme-fontSize($size, $property: 'font-size'){
  @return map-get(map-get($Theme-fontSizes, $size), $property);
}

$Theme-blue: #2A99C8;
$Theme-beige: #F1EAD9;
$Theme-white: #FFF;
$Theme-black: #000;
$Theme-red: #F56B75;
$Theme-pink: #E78A91;
$Theme-yellow: #F6C75C;
$Theme-darkYellow: #E4B855;
$Theme-lightGray: #D8D1C2;
$Theme-gray: #B4B4B4;

$Theme-lightGreenSuccess: #E6F0C0;
$Theme-greenSuccess: #566612;
$Theme-lightRedError: #FCE3E4;
$Theme-redDanger: #BF283A;
$Theme-redError: #981215;

$Theme-color: (
  background: (
    error: $Theme-lightRedError,
    event-card: $Theme-beige,
    menu-bar: $Theme-blue,
    success: $Theme-lightGreenSuccess
  ),
  button:(
    create: $Theme-red,
    delete: $Theme-red,
    menu-active: $Theme-white,
    primary: $Theme-yellow,
    secondary: $Theme-darkYellow,
    text: $Theme-white
  ),
  input: (
    border: $Theme-beige,
    dropdown-active: $Theme-lightGray,
    dropdown-background: $Theme-white,
    dropdown-icon: $Theme-white,
    filled: $Theme-black,
    placeholder: $Theme-gray
  ),
  line: (
    separator-content: $Theme-blue,
    separator-event-content: $Theme-white,
    separator-menu-bar-content: $Theme-white
  ),
  text: (
    error: $Theme-redError,
    event-primary-info: $Theme-red,
    event-secundary-info: $Theme-pink,
    label: $Theme-pink,
    main-info: $Theme-black,
    menu-bar: $Theme-beige,
    menu-button-active: $Theme-black,
    success: $Theme-greenSuccess,
    title-content-separator: $Theme-blue,
    title-event: $Theme-black,
    title-page: $Theme-red
  )
);

@function Theme-color($color, $property){
  @return map-get(map-get($Theme-color, $color), $property);
}

*,
*::after,
*::before{
  box-sizing: border-box;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

html{
  font-family: sans-serif;
  font-size: Theme-fontSize(base);
  height: 100%;
  line-height: Theme-fontSize(base, line-height);
  text-rendering: optimizeLegibility;
}
