body, a, 
  padding: 0
  margin: 0
  color: #000

h1
  font-style: none

.featured-events
  content-box: padding-box
  padding: 10px 20px
  margin: 0 auto
  text-align: center

.navbar
  padding: 0
  min-height: 80px
  a
    color: white
    &:hover
    text-decoration: none
      
    
.users-list:last-child
  list-style: none
  margin-bottom: 20px

.nav-list
  padding: 15px 0 0 15px

.user-option-buttons
  margin-top: 30px

.buttons-config
  margin: 10px

.panel-event-title
  a
    color: white
    font-size: 18px
    text-decoration: none

.event_start_date, .event_end_date, .availability_start_time, .availability_end_time
  display: flex

.control-label
  flex: 1 0 auto
  padding-right: 5px

.date-element
  padding: 0 5px 0 5px

.availability>time
  padding: 20px
