body, a, 
  padding: 0
  margin: 0
  color: #000

.homepage-search
  margin: 20px 0

.featured-events
  content-box: padding-box
  padding: 10px 20px
  margin: 0 auto
  text-align: center

.navbar
  padding: 0
  min-height: 80px
  a
    color: white
    font-style: none
    
.users-list:last-child
  list-style: none
  margin-bottom: 20px

.nav-list
  padding: 15px 0 0 15px

.user-option-buttons
  margin-top: 30px


