= f.select :week_day, options_for_select([['Sunday', 0], ['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6]])
= f.datetime_select :start_time
= f.datetime_select :end_time
= f.submit
